*{
    margin: 0px;
    padding: 0px;
}
h1{
    background-color: #4834d4;
    padding: 10px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav{
    background-color: #B53471;
    padding: 20px;
    margin-bottom: 20px;
}
nav ul li{
    text-align: center;
    list-style: none;
}
nav ul li a{
    margin-right: 15px;
    float: inline-end;
}
