*{
    padding:0;
    margin:0;
}
.navbar{
    background-color: black;
    color: #fff;
    display: flex;
    padding: 30px;
    position: sticky;
    top: 0;
}
.navbar__left--title{
    font-family: sans-serif;
    font-size: 25px;
    color: tomato;
}
.navbar__right{
    margin-left: auto;
}
.navbar__area{
    display: flex;
    list-style: none;
}
.navbar__link{
    text-decoration: none;
    margin-left: 40px;
    display: block;
    color: #fff;
}
.navbar__link:hover{
    background-color: blueviolet;
    color: #fff;
}
.hero-area{
    background-color: burlywood;
}
.hero{
    display: flex;
    padding:  3rem;
}
.left__img{
      width: 400px;
      padding: 2rem;
      margin-left: 50px;
}
.right{
    margin-left: auto;
}
.right h1{
    padding: 1rem 10rem;
    font-size: bold;
    font-family: sans-serif;
    color: tomato;
}
.right P{
    padding: 1rem 10rem;
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.7;
}
.btn{
    position: relative;
    padding: 1rem;
    margin-left: 153px;
}