*{
    box-sizing: border-box;
}
.box1{
    background-color: blueviolet;
    width: 30%;
    height: 30%;
    padding: 2%;
    border: 0.5rem solid pink;
    margin: 1%;
    float: left;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
.box2{
    background-color: maroon;
    width: 30%;
    height: 30%;
    padding: 2%;
    border: 0.5rem solid pink;
    margin: 1%;
    float: left;
    text-align: justify;
    font-family: sans-serif;
    font-size: 20px;
}
.box3{
    background-color:yellow;
    width: 30%;
    height: 30%;
    padding: 2%;
    border: 0.5rem solid pink;
    margin: 1%;
    float: left;
    text-align:justify;
    font-family: sans-serif;
    font-size: 20px;
}
